<!doctype html>
<html lang="en" data-framework="angularjs">
	<head>
		<meta charset="utf-8">
		<title>AngularJS • TodoMVC</title>
		<link rel="stylesheet" href="css/base.css">
		<style>[ng-cloak] { display: none; }</style>
	</head>
	<body ng-app="todomvc">
		<ng-view />

		<script type="text/ng-template" id="todomvc-index.html">
			<section id="header">
				<button ng-click="login()" ng-hide="loggedin">
          				Login
        		</button>
				<button ng-click="logout()" ng-show="loggedin">
          				Logout
        		</button>
			</section>
			<section id="todoapp">
				<h1>to-do-list on steroids</h1>
				<table id="todo-list">
					<thead id="header">
					<tr>
						<th>
							<input id="toggle-all" class="toggle" type="checkbox" ng-model="allChecked" ng-click="markAll(allChecked)">
							<label for="toggle-all">Mark all as complete</label>
						</th>
						<th>
							<form id="todo-form" ng-submit="addTodo()">
								<input id="new-todo" placeholder="What needs to be done?" ng-model="newTodo" ng-disabled="saving" autofocus>
							</form>
						</th>
					</tr>
					</thead>
					<tbody id="main" ng-show="todos.length" ng-cloak>
					<tr ng-repeat="todo in todos | filter:statusFilter track by $index" ng-class="{completed: todo.completed, editing: todo == editedTodo}">
						<td>
							<input class="toggle" type="checkbox" ng-model="todo.completed" ng-change="toggleCompleted(todo)">
						</td>
						<td>
							<div class="view">
								<label ng-dblclick="editTodo(todo)">{{todo.subject}}</label>
								<button class="destroy" ng-click="removeTodo(todo)"></button>
							</div>
							<form ng-submit="saveEdits(todo, 'submit')">
								<input class="edit" ng-trim="false" ng-model="todo.subject" todo-escape="revertEdits(todo)" ng-blur="saveEdits(todo, 'blur')" todo-focus="todo == editedTodo">
							</form>
						</td>
						<td>
							<button ng-click="startTimer(todo)" ng-hide="timing(todo)">Start Timer</button>
							<div ng-show="timing(todo)">
								<button ng-click="stopTimer(todo)">Stop Timer</button>
								{{
									todo.total
								}}
							</div>
						</td>
					</tr>
					</tbody>
					<tfoot ng-show="todos.length" ng-cloak>
					<tr>
						<td colspan="2" id="footer">
							<span id="todo-count"><strong>{{remainingCount}}</strong>
								<ng-pluralize count="remainingCount" when="{ one: 'item left', other: 'items left' }"></ng-pluralize>
							</span>
							<ul id="filters">
								<li>
									<a ng-class="{selected: status == ''} " href="#/">All</a>
								</li>
								<li>
									<a ng-class="{selected: status == 'active'}" href="#/active">Active</a>
								</li>
								<li>
									<a ng-class="{selected: status == 'completed'}" href="#/completed">Completed</a>
								</li>
							</ul>
							<button id="clear-completed" ng-click="clearCompletedTodos()" ng-show="completedCount">Clear completed ({{completedCount}})</button>
						</td>
					</tr>
					</tfoot>
				</table>
			</section>
			<footer id="info">
				<p>Double-click to edit a todo.</p>
				<p>
					Adapted for our <a href="http://timethy.bitbucket.org/cs1/">first coding session</a> at <a href="http://www.ethz.ch">ETH Zurich</a>.
				</p>
				<p>
					Fork of <a href="http://todomvc.com">TodoMVC</a>,
					credits go to
					<a href="http://twitter.com/cburgdorf">Christoph Burgdorf</a>,
					<a href="http://ericbidelman.com">Eric Bidelman</a>,
					<a href="http://jacobmumm.com">Jacob Mumm</a> and
					<a href="http://igorminar.com">Igor Minar</a>
				</p>
			</footer>
		</script>
		<script src="bower_components/todomvc-common/base.js"></script>
		<script src="bower_components/angular/angular.js"></script>
		<script src="bower_components/angular-route/angular-route.js"></script>
		<script src="bower_components/underscore/underscore.js"></script>
		<script src="js/app.js"></script>
		<script src="js/controllers/todoCtrl.js"></script>
		<script src="js/services/todoStorage.js"></script>
		<script src="js/services/userSession.js"></script>
		<script src="js/directives/todoFocus.js"></script>
		<script src="js/directives/todoEscape.js"></script>
	</body>
</html>
